#confirm-project {
  padding: 1.25rem;
}

#p-header {
  padding: 1.25rem;
}

.buttons-container p-button {
  margin-left: 5px;
}

.buttons-container.top {
  padding-bottom: 35px;
}

.buttons-container.bottom {
  padding-top: 35px;
}
