.title {
  font-weight: bold;
}

.section-container {
  padding: 20px;
}

.section-container:hover {
  background-color: rgba($color: #dadee3, $alpha: 0.3);
  cursor: pointer;
  border-radius: 5px;
}

.icon-container {
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.1);
  border-radius: 5px;
  height: fit-content;
  padding: 7px;
  margin-right: 15px;
}

.headerText {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 7px;
}

.subHeaderText {
  font-size: 0.875rem;
  color: rgba($color: #000000, $alpha: 0.4);
}
