<div class="h-full flex flex-column">
  <app-navbar></app-navbar>
  <p-messages></p-messages>
  <div class="w-full h-full flex justify-content-center align-items-center">
    <div class="h-30rem mr-8">
      <span class="title">Project</span>

      <div class="section-container flex flex-row mt-4" (click)="onRedirect('viewProject')">
        <div class="icon-container">
          <i class="pi pi-eye" style="font-size: 1.25rem; color: var(--surface-700)"></i>
        </div>
        <div class="flex flex-column">
          <span class="headerText">View Project</span>
          <span class="subHeaderText">This is a sample text of View Project</span>
        </div>
      </div>

      <div class="section-container flex flex-row mt-4" (click)="onRedirect('createProject')">
        <div class="icon-container">
          <i class="pi pi-plus" style="font-size: 1.25rem; color: var(--surface-700)"></i>
        </div>
        <div class="flex flex-column">
          <span class="headerText">Create Project</span>
          <span class="subHeaderText">This is a sample text of Create Project</span>
        </div>
      </div>

      <div class="section-container flex flex-row mt-4" (click)="onRedirect('editProject')">
        <div class="icon-container">
          <i class="pi pi-file-edit" style="font-size: 1.25rem; color: var(--surface-700)"></i>
        </div>
        <div class="flex flex-column">
          <span class="headerText">Edit Project</span>
          <span class="subHeaderText">This is a sample text of Edit Project</span>
        </div>
      </div>

      <div class="section-container flex flex-row mt-4" (click)="onRedirect('deleteProject')">
        <div class="icon-container">
          <i class="pi pi-trash" style="font-size: 1.25rem; color: var(--surface-700)"></i>
        </div>
        <div class="flex flex-column">
          <span class="headerText">Delete Project</span>
          <span class="subHeaderText">This is a sample text of Delete Project</span>
        </div>
      </div>
    </div>
    <div class="h-30rem ml-8">
      <span class="title">Data</span>

      <div class="section-container flex flex-row mt-4" (click)="onRedirect('viewData')">
        <div class="icon-container">
          <i class="pi pi-eye" style="font-size: 1.25rem; color: var(--surface-700)"></i>
        </div>
        <div class="flex flex-column">
          <span class="headerText">View Data</span>
          <span class="subHeaderText">This is a sample text of View Data</span>
        </div>
      </div>

      <div class="section-container flex flex-row mt-4" (click)="onRedirect('deleteData')">
        <div class="icon-container">
          <i class="pi pi-trash" style="font-size: 1.25rem; color: var(--surface-700)"></i>
        </div>
        <div class="flex flex-column">
          <span class="headerText">Delete Data</span>
          <span class="subHeaderText">This is a sample text of delete Build ID</span>
        </div>
      </div>
    </div>
  </div>
</div>