<app-navbar></app-navbar>
<p-messages></p-messages>
<div id="view-data-page">
    <app-header formHeader="View Data Page" formSubHeader="Project Menu > View Data > View Multiple Data"></app-header>
    <p-tabView [activeIndex]="0">
        <ng-container *ngIf="combinedDataCheck && summaryCheck && recommededBuildIDData">
            <p-tabPanel header="Combined Data">
                <ng-template pTemplate="content">
                    <app-data-tab *ngIf="combinedData && combinedData.length > 0" [combinedBuildData]="combinedData"
                        [combinedSummaryData]="combinedSummaryData"></app-data-tab>
                    <ng-container *ngIf="recommededBuildIDData.length > 0">
                        <div class="mt-3">
                            <p-accordion>
                                <p-accordionTab header="Add to Project">
                                    <div class="w-full">
                                        <h1 class="mt-0 mb-3 text-black-alpha-90" style="font-size: 18px">
                                            Build ID(s) with Recommeded Project
                                        </h1>
                                        <p-table [value]="recommededBuildIDData" styleClass="p-datatable-gridlines">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="width: 30rem; text-align: center">Build ID</th>
                                                    <th style="width: 10rem; text-align: center">Device</th>
                                                    <th style="width: 10rem; text-align: center">Block</th>
                                                    <th style="width: 10rem; text-align: center">Revision</th>
                                                    <th style="width: 10rem; text-align: center">Unit</th>
                                                    <th style="width: 10rem; text-align: center">Voltage</th>
                                                    <th style="width: 10rem; text-align: center">Temperature</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-buildID let-i="index">
                                                <tr>
                                                    <td style="text-align: center">{{ buildID.buildID }}</td>
                                                    <td style="text-align: center">{{ buildID.project.device_name }}
                                                    </td>
                                                    <td style="text-align: center">{{ buildID.project.block_id }}</td>
                                                    <td style="text-align: center">{{ buildID.project.revision_id }}
                                                    </td>
                                                    <td style="text-align: center">{{ buildID.unit.processCorner }}, {{
                                                        buildID.unit.two_d_name }}</td>
                                                    <td style="text-align: center">{{ buildID.voltage.name }}</td>
                                                    <td style="text-align: center">{{ buildID.temperature.value }}&deg;C
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <ng-container
                                        *ngIf="notRecommededBuildIDList && notRecommededBuildIDList.length > 0">
                                        <div class="w-4 mt-5">
                                            <h1 class="mb-3 text-black-alpha-90" style="font-size: 18px">
                                                Manual Addition
                                            </h1>
                                            <p-table [value]="notRecommededBuildIDList"
                                                styleClass="p-datatable-gridlines">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th style="text-align: center">Build ID</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-buildID>
                                                    <tr>
                                                        <td style="text-align: center">{{ buildID }}</td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </ng-container>
                                    <div class="flex justify-content-center buttons-container bottom mt-3">
                                        <ng-container *ngTemplateOutlet="submitButton"></ng-container>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </ng-container>
                </ng-template>
            </p-tabPanel>
        </ng-container>
        <ng-container *ngIf="singleBuildDataMapCheck && singleTestParamMapCheck">
            <p-tabPanel *ngFor="let buildID of buildIDsArray" header="{{ buildID }}">
                <ng-template pTemplate="content">
                    <app-data-tab [buildID]="buildID" [singleBuildData]="[singleBuildDataMap[buildID]]"
                        [singleRecommendedData]="reccomendedDataMap[buildID]"
                        [refParam]="singleTestParamMap[buildID]"></app-data-tab>
                </ng-template>
            </p-tabPanel>
        </ng-container>
    </p-tabView>
    <div class="flex justify-content-end buttons-container bottom mt-3">
        <ng-container *ngTemplateOutlet="backButton"></ng-container>
    </div>
</div>

<ng-template #backButton>
    <p-button label="Back" styleClass="p-button-danger" type="button" (onClick)="onBack()"></p-button>
</ng-template>
<ng-template #submitButton>
    <p-button label="Submit" styleClass="p-button-success" type="submit" (onClick)="onSubmit()"></p-button>
</ng-template>