<app-navbar></app-navbar>
<p-messages></p-messages>
<div id="view-data-page">
    <app-header formHeader="View Data Page" formSubHeader="Project Menu > View Data > View Multiple Data"></app-header>
    <p-tabView id="view-m-data" [activeIndex]="0">
        <ng-container *ngIf="combinedDataCheck && summaryCheck">
            <p-tabPanel header="Combined Data">
                <ng-template pTemplate="content">
                    <app-data-tab *ngIf="combinedData.length > 0" [combinedBuildData]="combinedData"
                        [combinedSummaryData]="combinedSummaryData"></app-data-tab>
                </ng-template>
            </p-tabPanel>
        </ng-container>
        <ng-container *ngIf="singleBuildDataMapCheck && singleTestParamMapCheck">
            <p-tabPanel *ngFor="let buildID of buildIDsArray" header="{{ buildID }}">
                <ng-template pTemplate="content">
                    <app-data-tab [buildID]="buildID" [singleBuildData]="[singleBuildDataMap[buildID]]"
                        [refParam]="singleTestParamMap[buildID]"></app-data-tab>
                </ng-template>
            </p-tabPanel>
        </ng-container>
    </p-tabView>
</div>