<app-navbar></app-navbar>
<p-messages></p-messages>
<form [formGroup]="createProjectForm">
  <app-header formHeader="Create Project" formSubHeader="Project Menu > Create Project"></app-header>
  <div class="w-full flex align-items-center justify-content-center">
    <p-card class="w-12 h-full card-header" id="create-project-p-card">
      <p-accordion [multiple]="true" [activeIndex]="[0]" class="w-full">
        <div class="flex justify-content-end buttons-container top">
          <ng-container *ngTemplateOutlet="buttons"></ng-container>
        </div>
        <p-accordionTab header="Device">
          <div class="flex flex-row gap-2 mb-5 w-full align-items-center">
            <app-form-label class="col-2" formLabel="Existing device family"></app-form-label>
            <div>
              <p-checkbox [binary]="true" inputId="existingDevice" formControlName="existingDevice"
                          (click)="onClick('existingDevice')"></p-checkbox>
            </div>
          </div>

          <div class="flex flex-row gap-2 mb-5 w-full">
            <app-form-label class="col-2" formLabel="New device family name"></app-form-label>
            <input pInputText formControlName="deviceFamily" name="deviceFamily" type="text"
                   class="col-4 input-field" />
            <app-error-field-message [control]="deviceFamily"></app-error-field-message>
          </div>
          <div class="flex flex-row align-items-center gap-2 mb-3 w-full">
            <app-form-label class="col-2" formLabel="Select existing device family"></app-form-label>
            <p-dropdown id="dropdown-button" class="col-4" [options]="existingDeviceOptions"
                        formControlName="existingDeviceField" placeholder="Select a device family"></p-dropdown>
            <app-error-field-message [control]="existingDeviceField"></app-error-field-message>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Revision">
          <div class="flex flex-row gap-2 mb-5 w-full align-items-center">
            <app-form-label class="col-2" formLabel="Existing revision"></app-form-label>
            <div>
              <p-checkbox [binary]="true" inputId="existingRevision" formControlName="existingRevision"
                          (click)="onClick('existingRevision')"></p-checkbox>
            </div>
          </div>

          <div class="flex flex-row gap-2 mb-5 w-full">
            <app-form-label class="col-2" formLabel="New revision name"></app-form-label>
            <input pInputText formControlName="revision" name="revision" type="text" class="col-4 input-field" />
            <app-error-field-message [control]="revision"></app-error-field-message>
          </div>
          <div class="flex flex-row align-items-center gap-2 mb-3 w-full">
            <app-form-label class="col-2" formLabel="Select existing revision"></app-form-label>
            <p-dropdown id="dropdown-button" class="col-4" [options]="existingRevisionOptions"
                        formControlName="existingRevisionField" placeholder="Select a revision"></p-dropdown>
            <app-error-field-message [control]="existingRevisionField"></app-error-field-message>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Test Type">
          <div class="flex flex-row gap-2 mb-5 w-full align-items-center">
            <app-form-label class="col-2" formLabel="Existing test type"></app-form-label>
            <div>
              <p-checkbox [binary]="true" inputId="existingTestType" formControlName="existingTestType"
                          (click)="onClick('existingTestType')"></p-checkbox>
            </div>
          </div>

          <div class="flex flex-row gap-2 mb-5 w-full">
            <app-form-label class="col-2" formLabel="New test type name"></app-form-label>
            <input pInputText formControlName="testType" type="text" class="col-4 input-field" />
            <small class="p-error" *ngIf="
                createProjectForm.controls['testType'].invalid &&
                createProjectForm.controls['testType'].touched
              ">Test Type is required.</small>
          </div>
          <div class="flex flex-row align-items-center gap-2 mb-3 w-full">
            <app-form-label class="col-2" formLabel="Select existing test type"></app-form-label>
            <p-dropdown id="dropdown-button" class="col-4" [options]="existingTestTypeOptions"
                        formControlName="existingTestTypeField" placeholder="Select a test type"></p-dropdown>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Block">
          <div class="flex flex-row gap-2 my-3 w-full align-items-center">
            <app-form-label class="col-2" formLabel="New block name"></app-form-label>
            <input pInputText formControlName="block" type="text" class="col-4 input-field" />
            <small class="p-error" *ngIf="
                createProjectForm.controls['block'].invalid &&
                createProjectForm.controls['block'].touched
              ">Block is required.</small>
          </div>
        </p-accordionTab>

        <div class="flex justify-content-end buttons-container bottom">
          <ng-container *ngTemplateOutlet="buttons"></ng-container>
        </div>
      </p-accordion>
    </p-card>
  </div>
</form>

<ng-template #buttons>
  <p-button label="Back" styleClass="p-button-danger" type="button" (onClick)="onBack()"></p-button>
  <p-button label="Reset" styleClass="p-button-danger" type="button" (onClick)="onReset()"></p-button>
  <p-button label="Submit" styleClass="p-button-success" type="submit" (onClick)="onSubmit()"></p-button>
</ng-template>