<app-navbar></app-navbar>
<p-messages></p-messages>
<form [formGroup]="createProjectForm">
  <app-header formHeader="Create Project" formSubHeader="Project Menu > Create Project"></app-header>
  <div class="w-full flex align-items-center justify-content-center">
    <p-card class="w-12 h-full card-header" id="create-project-p-card">
      <p-accordion [multiple]="true" class="w-full" [activeIndex]="0">
        <div class="flex justify-content-end buttons-container mb-3">
          <ng-container *ngTemplateOutlet="buttons"></ng-container>
        </div>
        <p-accordionTab header="Device" [selected]="true">
          <div class="flex flex-row gap-2 mb-5 w-full align-items-center">
            <app-form-label class="col-2" formLabel="Existing device family"></app-form-label>
            <div>
              <p-checkbox [binary]="true" inputId="existingDevice" formControlName="existingDevice"
                (click)="onClick('existingDevice')"></p-checkbox>
            </div>
          </div>

          <div class="flex flex-row gap-2 mb-5 w-full">
            <app-form-label class="col-2" formLabel="New device"></app-form-label>
            <input pInputText formControlName="deviceFamily" name="deviceFamily" type="text"
              class="col-4 input-field" />
            <app-error-field-message [formControl]="deviceFamily"></app-error-field-message>
          </div>
          <div class="flex flex-row align-items-center gap-2 mb-3 w-full">
            <app-form-label class="col-2" formLabel="Select existing device"></app-form-label>
            <p-dropdown id="dropdown-button" class="col-4" [options]="existingDeviceOptions"
              formControlName="existingDeviceField" placeholder="Select a device family"></p-dropdown>
            <app-error-field-message [formControl]="existingDeviceField"></app-error-field-message>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Revision">
          <div class="flex flex-row gap-2 mb-5 w-full align-items-center">
            <app-form-label class="col-2" formLabel="Existing revision"></app-form-label>
            <div>
              <p-checkbox [binary]="true" inputId="existingRevision" formControlName="existingRevision"
                (click)="onClick('existingRevision')"></p-checkbox>
            </div>
          </div>

          <div class="flex flex-row gap-2 mb-5 w-full">
            <app-form-label class="col-2" formLabel="New revision"></app-form-label>
            <input pInputText formControlName="revision" name="revision" type="text" class="col-4 input-field" />
            <app-error-field-message [formControl]="revision"></app-error-field-message>
          </div>
          <div class="flex flex-row align-items-center gap-2 mb-3 w-full">
            <app-form-label class="col-2" formLabel="Select existing revision"></app-form-label>
            <p-dropdown id="dropdown-button" class="col-4" [options]="existingRevisionOptions"
              formControlName="existingRevisionField" placeholder="Select a revision"></p-dropdown>
            <app-error-field-message [formControl]="existingRevisionField"></app-error-field-message>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Test Type">
          <div class="flex flex-row gap-2 mb-5 w-full align-items-center">
            <app-form-label class="col-2" formLabel="Existing test type"></app-form-label>
            <div>
              <p-checkbox [binary]="true" inputId="existingTestType" formControlName="existingTestType"
                (click)="onClick('existingTestType')"></p-checkbox>
            </div>
          </div>

          <div class="flex flex-row gap-2 mb-5 w-full">
            <app-form-label class="col-2" formLabel="New test type"></app-form-label>
            <input pInputText formControlName="testType" name="testType" type="text" class="col-4 input-field" />
            <app-error-field-message [formControl]="testType"></app-error-field-message>
          </div>
          <div class="flex flex-row align-items-center gap-2 mb-3 w-full">
            <app-form-label class="col-2" formLabel="Select existing test type"></app-form-label>
            <p-dropdown id="dropdown-button" class="col-4" [options]="existingTestTypeOptions"
              formControlName="existingTestTypeField" placeholder="Select a test type"></p-dropdown>
            <app-error-field-message [formControl]="existingTestTypeField"></app-error-field-message>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Block">
          <div class="flex flex-row gap-2 my-3 w-full align-items-center">
            <app-form-label class="col-2" formLabel="New block"></app-form-label>
            <input pInputText formControlName="block" type="text" class="col-4 input-field" />
            <app-error-field-message [formControl]="block"></app-error-field-message>
          </div>
        </p-accordionTab>

        <p-accordionTab header="Unit Count">
          <div class="flex flex-row gap-2 my-3 w-full align-items-center">
            <app-form-label class="col-2" formLabel="Target Unit Count"></app-form-label>
            <input pInputText formControlName="targetUnitCount" type="text" class="col-4 input-field" />
            <app-error-field-message [formControl]="targetUnitCount"></app-error-field-message>
          </div>
        </p-accordionTab>

        <div class="flex justify-content-end buttons-container my-3">
          <ng-container *ngTemplateOutlet="buttons"></ng-container>
        </div>
      </p-accordion>
    </p-card>
  </div>
</form>

<ng-template #buttons>
  <p-button label="Back" styleClass="p-button-danger" type="button" (onClick)="onBack()"></p-button>
  <p-button label="Reset" styleClass="p-button-danger" type="button" (onClick)="onReset()"></p-button>
  <p-button label="Submit" styleClass="p-button-success" type="submit" (onClick)="onSubmit()"></p-button>
</ng-template>