<app-navbar></app-navbar>
<form [formGroup]="createProjectForm">
  <div class="w-full h-full flex align-items-center justify-content-center">
    <div class="card flex justify-content-center w-12">
      <p-card class="w-12 h-full card-header" header="Create Project">
        <p-divider align="left" class="w-full" type="dashed">
          <div class="inline-flex align-items-center">
            <b>Device</b>
          </div>
        </p-divider>
        <div class="flex flex-row gap-2 mb-5 w-full align-items-center">
          <app-form-label formLabel="Existing Device Family"></app-form-label>
          <div>
            <p-checkbox
              [binary]="true"
              inputId="existingDevice"
              formControlName="existingDevice"
            ></p-checkbox>
          </div>
        </div>

        <div class="flex flex-column gap-2 mb-5 w-full">
          <app-form-label
            formLabel="Device Family"
            mandatory="true"
          ></app-form-label>
          <input
            pInputText
            formControlName="deviceFamily"
            type="text"
            class="input-field"
          />
          <small
            class="p-error"
            *ngIf="
              createProjectForm.controls['deviceFamily'].invalid &&
              createProjectForm.controls['deviceFamily'].touched
            "
            >Device Family is required.</small
          >
        </div>

        <p-divider align="left" class="w-full" type="dashed">
          <div class="inline-flex align-items-center">
            <b>Revision</b>
          </div>
        </p-divider>

        <div class="flex flex-row gap-2 mb-5 w-full align-items-center">
          <app-form-label formLabel="Existing Revision"></app-form-label>
          <div>
            <p-checkbox
              [(ngModel)]="checked"
              [binary]="true"
              inputId="binary"
              formLabel="existingRevision"
            ></p-checkbox>
          </div>
        </div>

        <div class="flex flex-column gap-2 mb-5 w-full">
          <app-form-label
            formLabel="Revision"
            mandatory="true"
          ></app-form-label>
          <input
            pInputText
            formControlName="revision"
            type="text"
            class="input-field"
          />
          <small
            class="p-error"
            *ngIf="
              createProjectForm.controls['revision'].invalid &&
              createProjectForm.controls['revision'].touched
            "
            >Revision is required.</small
          >
        </div>

        <p-divider align="left" class="w-full" type="dashed">
          <div class="inline-flex align-items-center">
            <b>Test Type</b>
          </div>
        </p-divider>

        <div class="flex flex-row gap-2 mb-5 w-full align-items-center">
          <app-form-label formLabel="Existing Test Type"></app-form-label>
          <div>
            <p-checkbox
              [(ngModel)]="checked"
              [binary]="true"
              inputId="binary"
              formLabel="existingRevision"
            ></p-checkbox>
          </div>
        </div>

        <div class="flex flex-column gap-2 mb-5 w-full">
          <app-form-label
            formLabel="Test Type"
            mandatory="true"
          ></app-form-label>
          <input
            pInputText
            formControlName="testType"
            type="text"
            class="input-field"
          />
          <small
            class="p-error"
            *ngIf="
              createProjectForm.controls['testType'].invalid &&
              createProjectForm.controls['testType'].touched
            "
            >Test Type is required.</small
          >
        </div>

        <p-divider align="left" class="w-full" type="dashed">
          <div class="inline-flex align-items-center">
            <b>Block</b>
          </div>
        </p-divider>

        <div class="flex flex-row gap-2 mb-5 w-full align-items-center">
          <app-form-label formLabel="Existing Block"></app-form-label>
          <div>
            <p-checkbox
              [(ngModel)]="checked"
              [binary]="true"
              inputId="binary"
              formLabel="existingRevision"
            ></p-checkbox>
          </div>
        </div>

        <div class="flex flex-column gap-2 mb-5 w-full">
          <app-form-label formLabel="Block" mandatory="true"></app-form-label>
          <input
            pInputText
            formControlName="block"
            type="text"
            class="input-field"
          />
          <small
            class="p-error"
            *ngIf="
              createProjectForm.controls['block'].invalid &&
              createProjectForm.controls['block'].touched
            "
            >Block is required.</small
          >
        </div>

        <div class="flex justify-content-center">
          <p-button label="Submit" styleClass="p-button-primary"></p-button>
        </div>
      </p-card>
    </div>
  </div>
</form>
