#data-box {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  height: 100%;
  font-size: medium;
}

.doughnut-chart-container {
  height: 100%;
}

#data-content {
  border-radius: 0.375rem;
}

#data-box-content {
  font-weight: bold;
}

.green-text {
  color: rgb(2, 155, 2);
}

.red-text {
  color: red;
}

.yellow-orange-text {
  color: orange;
}

.paramTable th,
.paramTable td {
  padding: 7px;
  // font-size: 14px;
}

