#view-data-page {
  padding: 1.25rem;
}

.buttons-container p-button {
  margin-left: 5px;
}

.paramTable th,
.paramTable td {
  padding: 7px;
  font-size: 14px;
}

.chart-container {
  width: 100%;
  height: 300px; /* Adjust the height as per your requirements */
}

.doughnut-chart-container {
  // width: 100%;
  height: 300px;
}
