/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

* {
  // font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  //   "Lucida Sans", Arial, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  //   Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-color: #dee2e6;
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--bluegray-50);
  color: #333333;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

app-root,
app-login {
  display: block;
  height: 100%;
  width: 100%;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.p-card-title {
  display: flex;
  justify-content: center;
}

.p-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#project-p-card .p-card-content {
  align-items: center;
  padding-top: 0%;
  padding-bottom: 0%;
}

#chart-content {
  box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.1);
  border-radius: 5px;
  .p-component {
    height: 100%;
  }
  .p-card-content {
    align-items: start;
    padding-top: 0%;
    padding-bottom: 0%;
  }
}

#project-page .p-card-content {
  padding-top: 0%;
  padding-bottom: 0%;
}

#project-page .p-card-body {
  padding-top: 1%;
}

.ng-invalid.ng-touched {
  border-color: #e24c4c;

  > .p-dropdown.p-component {
    border-color: inherit;
  }
}

:disabled,
.p-disabled {
  background-color: #e6e6e6;
  opacity: 1;
}

#navbar-button .p-button-label {
  transition-duration: 0.2s;
  color: black !important;
}

#logout-button .p-button-icon-only {
  background: black;
}

#action-button {
  .p-button {
    background: #f8f9fa;
    color: black;
    border: 1px solid #dee2e6;
  }
}

#dropdown-button {
  flex: 0 0 auto;
  padding: 0rem;

  .p-dropdown {
    width: 100%;
  }
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: black;
}

.p-tabview .p-tabview-panels {
  padding: 0%;
  padding-top: 1.25rem;
}
