<div class="card flex align-items-center justify-content-between p-2 border-bottom-1">
  <button class="p-ripple p-element p-button-link logo-button p-button p-component custom-button" type="button"
          (click)="navigateToHome()">
    <p-image src="../../../../assets/image/amd-logo.png" alt="Image" height="40" class="p-element logo-image"></p-image>
  </button>
  <div class="flex align-items-center" *ngIf="authService.isLoggedIn()">
    <span class="welcome-text {{ this.userType }}">
      {{ this.userType | titlecase }}</span>
    <p-button id="logout-button" (click)="logout()" icon="pi pi-sign-out"
              styleClass="p-button-rounded p-button-secondary"></p-button>
  </div>
</div>