.welcome-text {
  font-weight: bold;
  margin-right: 15px;

  //   &.admin {
  //     // Additional styles for admin text, if needed
  //   }

  //   &.user {
  //     // Additional styles for user text, if needed
  //   }
}

.logo-image {
  margin-left: 10px;
}
