#project-page {
  padding: 1.25rem;
}

.custom-font-size {
  font-size: 14px;
}

#projectPieChart {
  height: 400px !important;
  width: 400px !important;
}

#projectPieChart:hover {
  cursor: pointer;
}

#stackedBarChart:hover {
  cursor: pointer;
}

#cornerProgressChart:hover {
  cursor: pointer;
}

#unitStatsChartData:hover {
  cursor: pointer;
}
